h1,
p {
	font-family: Lato;
}

.images {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	margin: 0.5%;
}
.overlay {
	width: fit-content; /* Full width (cover the whole page) */
	height: 0px;

	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
}
.extra {
	position: relative;
	top: -40px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height, or 120% */

	text-align: center;
	letter-spacing: -0.02em;

	/* White */

	color: #ffffff;
}
